body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1a1a;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(190, 26, 26);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  